*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#nav{
  background-color: black;
  margin-bottom: 4em;
}
form, .task_page{
  width: 50%;
  margin: auto; 
}
#task_input{
  width: 70%;
  margin-right: 5%;
}
.task_field{
  margin-bottom: 2em;
}
.task_list{
  background:rgb(244, 249, 253);
  padding: 12px;
  margin-bottom: 2em;
}
.task_item{
  margin-bottom: 0.75em;
}
.show_btns{
  padding: 0.65em 1.5em; 
  margin-right: 4px;
  border-style: none;
  border-radius: 3px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.90em;
}

.inline-btn{
  display: inline-block;
}

input, textarea, #task_btn{
  padding: 0.5em; 
  margin-bottom: 1em;
  resize: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
}
form input, form textarea{
  width: 100%;
}
[type="submit"], #task_btn{
  width: 20%;
  border-style: outset;
  border-radius: 3px;
  color: rgb(10, 93, 161);
  border-color: rgb(10, 93, 161);
  background: white;
  cursor: pointer;
}
[type="checkbox"]{
  width: 3%;
  cursor: pointer;
}
.task_label{
  width: 95%;
  padding-left: 0.7em;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 0.2em;
}
.far{
  color: rgb(10, 93, 161);
  width: 2%;
}
.far:hover, button{
  cursor: pointer;
}